body {
    margin-top: 0;
    background-color: #78704b;
    font-family: 'Freckle Face';
    color: #352116;
    text-align: center;
}

a {
  text-decoration: none;
  color:#352116;
}

li{
  list-style-type: none;
  display: inline;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  border: 2px solid #7ca03f;
  border-radius: 5%;
  padding: 5px 10px;
}

h1{
  font-size: 50px;
}

h3{
  font-size: 30px;
  color: #2c4203;
}

#cabecera {
   margin-left: auto;
   margin-right: auto;
   }

.img {
   width: 800px;
}

.article{
  width: 600px;
  text-align: justify;
}

#name{
  position: absolute;
  height: 300px;
  width: 400px;
  margin-top: -500px;
  margin-left: 60px;
}

.nav{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.box-table {
  font-size: 20px;
  width: 300px;
  height: 150px;
}

.main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 600px;
}

td{
  color: #7ca03f;
}

.email{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#foot{
  background-color: #7ca03f;
  width: auto;
  height: 150px;
  padding-top: 20px;
  padding-right: 20px;
}

.redes{
  width: 200px;
  margin-left: auto;
}

.red {
  padding-left:10px;
  height: 30px;
}

.adalab1{
  width: 125px;
}

.adalab2{
  width: 200px;
  margin-left: 20px;
}

.adalaber{
  width: 500px;
  margin-right: auto;
}
